/* 
suthor:Abhijit Mondal;
Theme:Food order website Admin;
version:1.0;

*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
   
    padding: 1%;
    /* text-align: left; */
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #2de99b;
    padding: 1%;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #34f15d;
}
.btn-danger{
    background-color: #f18362;
    padding: 1%;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ec4b22;
}




/* css manu */
.menu{
    text-align: center;
    border-bottom: 1px solid #000;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff4757;
}
.menu ul li a:hover{
    color: #e6747d;
}


/* css for main content */
.main-content{
   
    background-color: #f1f2f6;
    padding: 3% 0;
}



.col-4{
    width: 18%;
    background-color: #fff;
    margin: 1%;
    padding: 2%;
    float: left;
}










/* css for footer */
.footer{
    background-color: #ff4757;
    color: #fff;
}


/* css for login */
.login{
    border: 1px solid gray;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}